a {
  text-decoration: none;
}

img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  /* float: left; */
  /* margin-right: 20px; */
}
p {
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.logo {
  width: 100px;
  height: auto;
  margin-top: 20px;
}